<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <script type="text/javascript" src="{{asset "js/jquery-1.11.1.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/bootstrap.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body>
    {{> header}}
    {{navigation}}
    <div class="site-wrapper">
<section class="content-wrap">
        <div class="container">
        <div class="row main-content" > 
        <main class="col-md-19">
        {{! Everything else gets inserted here }}
        {{{body}}}
   </main>
        <aside class="col-md-5 sidebar">
            {{> "sidebar"}}
        </aside>
    </div>
    </div>
</section>
        <hr />
        <footer>
        <div class="container">
        <div class="row text-center">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a> &amp; <a href="http://www.ghostchina.com">GhostChina</a></section>
            </div>
            </div>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
